body,
html {
  height: 100vh;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "BeyondControl";
  src: local("BeyondControl"),
    url("./assets/fonts/BEYONDCONTROL.ttf") format("truetype");
}

@font-face {
  font-family: "Palamecia Titling";
  src: local("Palamecia Titling"),
    url("./assets/fonts/palamecia-titling.regular.ttf") format("truetype");
}
